<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="\static\style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    
    <header class="d-none d-lg-block">
      <div id="main-header">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <div class="styled-text" style="font-family: 'FontName', Algerian;font-size: 36px;color: white;margin-right:10px">
            <h1>My Store</h1>
          </div>
    
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/?user={{user.id}}" class="nav-link px-2 text-white" style="margin-right: 20px">Home</a></li>
            {%if user.active == 1 %}            
              <li><a href="/profile/{{user.id}}" class="nav-link px-2 text-white" style="margin-right: 20px">Profile</a></li>
            {% endif %}
            <li><a href="/about?user={{user.id}}" class="nav-link px-2 text-white" style="margin-right: 20px">About</a></li>
          </ul>
    
          {%if user.active == 1 %}
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/search/{{user.id}}" role="search">
          {%else%}
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/user_login" role="search">
          {%endif%}
              <div class="search-container">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." name="query" aria-label="Search">
                {%if user.active == 1 %}
                  <button type="submit" class="btn btn-outline-success">Search</button>
                {%else%}
                  <a class="btn btn-outline-success" href="/user_login" role="button">Search</a>
                {%endif%}
              </div>
            </form>
                    
          <div class="text-end" style="margin-bottom:10px ; margin-top:10px">
            {%if user.active == 1 %}
              <a class="btn btn-outline-light me-2" href="/logout/{{user.id}}" role="button">Logout</a>              
            {%else%}
              <a class="btn btn-outline-light me-2" href="/user_login" role="button">Login</a>
              <a class="btn btn-warning" href="/register" role="button">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    <header class="d-block d-lg-none">
      <div id="main-header" class="text-center">
        <div class="d-flex align-items-center justify-content-between">
          <div style="flex: 0 0 auto; margin: -5px;">
            <button class="btn btn-outline-light" style="margin: 10px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </button>
            <button onclick="window.location.href='/?user={{user.id}}'" class="btn  " >
              <div class="styled-text" style="font-family: 'FontName', Algerian;font-size: 36px;color: white;margin-right:10px">
                  <h1>My Store</h1>
              </div>
            </button>
          </div>
        
          <div style="flex: 0 0 auto;">
            <div class="btn-group dropdown">
              <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right:10px">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
              <div class="dropdown-menu">
                {%if user.active == 1 %}
                  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/search/{{user.id}}" role="search">
                {%else%}
                  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/user_login" role="search">
                {%endif%}
                    <div class="card border-light mb-3 inline-label" style="max-height:10px">
                      <div class="search-container" style="margin-top: -7px; margin-right:6px">
                        <input type="search" class="form-control form-control-dark text-bg-dark" style="width:fit-content"placeholder="Search..." name="query" aria-label="Search">
                        <button type="submit" class="btn btn-outline-success">Search</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
  
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" style="width:50%" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="/?user={{user.id}}"  class="nav-link active" aria-current="page" style="margin-right: 20px">Home</a></li>
              {%if user.active == 1 %}            
                <li class="nav-item"><a href="/profile/{{user.id}}" class="nav-link" style="margin-right: 20px">Profile</a></li>
                <li class="nav-item"><a href="/about?user={{user.id}}" class="nav-link" style="margin-right: 20px">About</a></li>
                <li class="nav-item"><a href="/logout/{{user.id}}" class="nav-link" style="margin-right: 20px">Logout</a></li>
              {%else%}
                <li class="nav-item"><a href="/about" class="nav-link" style="margin-right: 20px">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/user_login" role="button">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register" role="button">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </header>
    <br>
    <br>
    <div class="container text-center main-body">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-10">
            <div class="card">
                <div class="card-body">
                  {%if user.active == 1 %}
                    {%if cart|length==0 and out_of_stock|length==0%}
                        <h2>Your Cart is empty! Please go Shopping.</h2>
                        <a href="/?user={{user.id}}" class="btn btn-success" style="margin-top: 30px">Shopping</a>
                    {%elif cart|length != 0%}
                      <ul class="list-group">
                        {%for item in cart%}
                          <li class="list-group-item">
                              <span style="float:left">{{ item.product.category.name }} - {{ item.product.product_name }}</span>
                              <span style="float:middle">{{ item.quantity }} {{ item.product.unit.split('/')[-1] }}- {{ item.product.rate }}{{ item.product.unit }}</span>
                              <a class="btn btn-primary" href="/delete_item/{{user.id}}/{{item.cart_id}}" role="button"style="float: right; width: 100px; height: 35px;">Remove</a>
                          </li>                
                        {%endfor%}
                      </ul>
                      <h4>
                        <span  style="float:left; margin-top: 20px">Grand Total: ₹{%if total%}{{total}}{%else%}0{%endif%}</span>
                        <span style="float:right; margin-top: 15px">
                          <a href='/checkout/{{user.id}}'>
                            <button class="btn btn-info" role="button"style="float: right; width: 100px; height: 40px;">Buy all</button>
                          </a>
                        </span>
                      </h4>
                    {%elif out_of_stock|length != 0%}
                      <h5 style="margin-top:10px; margin-bottom:10px">
                        Out of Stock Products
                      </h5>
                      <ul class="list-group">
                        {%for item in out_of_stock%}
                          <li class="list-group-item">
                            <span style="float:left" class="opacity-75">{{ item.product.category.name }} - {{ item.product.product_name }}</span>
                            <span style="float:middle" class="opacity-75"><strong style="color:red">Out of Stock</strong></span>
                            <a class="btn btn-primary" href="/delete_item/{{user.id}}/{{item.cart_id}}" role="button"style="float: right; width: 100px; height: 35px;">Remove</a>
                          </li>
                        {%endfor%}
                      </ul> 
                    {%endif%} 
                        
                  {%else%}
                        <h2>Login First!</h2>
                  {%endif%}
                </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>